/* src/index.css */

:root {
  box-sizing: border-box;
  padding: 0;
  --accent: #3390e7;
}
@font-face {
  font-family: siyaFont;
  src: url("/fonts/techno-race-italic-font/TechnoRaceItalic-eZRWe.otf");
}
*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;

  background-color: #000;
}
#content {
  margin: 0;
  width: 100%;
  min-height: 100vh;

  overflow-y: scroll;
  scrollbar-width: 1px;
  scrollbar-color: white;
  overflow-x: hidden;
}

nav {
  margin-bottom: 0.5rem;
  width: 90vw;
  display: flex;
  justify-content: center;
}
nav > ul {
  width: 80%;
  justify-content: space-around;
}
li {
  list-style: none;
}

header,
.greet ~ h2,
.greet ~ div {
  opacity: 0;
}

h1,
.greet ~ h2,
.greet ~ div {
  color: aliceblue;
  align-self: center;
}
h2 {
  color: aliceblue;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid white;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 20vh;
  top: 0;
  z-index: 2;
  background-color: #000000cc;
}
.sec {
  min-height: 80vh;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sec > div > div {
  margin: 2px;
}

.webDev {
  color: var(--accent);
}
.info {
  height: 15rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info > button {
  margin-top: auto;
  max-width: 12rem;
}
.info > div {
  display: flex;
  justify-content: space-around;
  width: 10rem;
}
.info > div > img {
  max-width: 2rem;
  max-height: 2rem;
  background-color: var(--accent);
  border-radius: 10%;
}

#cv {
  background-color: var(--accent);

  transform: translateY(40rem);
}
.siyaImage {
  width: 20rem;
  height: 20rem;
  background-image: url("/images/siya(no-back)-2.png");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border-bottom: 0.24em var(--accent) solid;
}
.cover {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#main > * {
  scroll-snap-align: start;
}

@media (max-width: 768px) {
  #aboutInfo,
  #imgDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #About > div > img {
    max-width: 60vw;
    max-height: 60vw;
  }
  #exGrid {
    grid-template-columns: none;
    grid-template-rows: repeat(4, minmax(0, 1fr));
    min-height: 80%;
    width: 80%;
  }
  #1,
  #2,
  #3,
  #4 {
    height: 20%;
  }
}
